<div class='container'>
	<% @listings.each do |listing| %>
		<div class='row listing'>
				<div class="col-md-2">
						<image src=<%= listing.thumbnail %>></image>
				</div>
				<div class='col-md-2'>
					<div class='row'>
						<h4>Author:</h4>
					</div>
					<div class='row'>
						<%= listing.author %>
					</div>
				</div>
				<div class='col-md-8'>
					<div class='row'>
						<h4>Title:</h4>
					</div>
					<div class='row'>
						<%= listing.title %>
					</div>
				</div>
		</div>
	<% end %>
</div>